* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(https://img.stablecog.com/insecure/1920w/aHR0cHM6Ly9iLnN0YWJsZWNvZy5jb20vNzcxMTNiOWYtZmVhYi00OTU4LWJlZjItYzQ1YjE3ZTcxYWRkLmpwZWc.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 400px);
}

#listeTachesNonTerminer {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 25px;
    border-radius: 25px;
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#listeTachesNonTerminer ul {
    list-style: none;
    padding: 0;
    height: 100px;
    overflow-y: auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 200px;
    gap: 20px;
}
































.hidden {
    display: none;
}