* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(black, transparent),url(https://img.stablecog.com/insecure/1920w/aHR0cHM6Ly9iLnN0YWJsZWNvZy5jb20vNzcxMTNiOWYtZmVhYi00OTU4LWJlZjItYzQ1YjE3ZTcxYWRkLmpwZWc.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
    overflow-y: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

#listeTachesNonTerminer {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    padding: 25px;
    border-radius: 25px;
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 20px black;
}

#listeTachesNonTerminer ul {
    list-style: none;
    padding: 0;
    height: 180px;
    width: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#listeTachesNonTerminer ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 5px;
    border-radius: 10px;
}
.checkBox{
    margin-left: 10px;
    height: 20px;
    width: 20px;
    appearance: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.checkBox:checked{
    background-color: #3d3d3d;
}
.checkBox:checked::after {
    content: "✔";
    color: white;
    font-size: 16px;
    position: absolute;
    left: 4px;
    bottom: 1px;
}

.divButtonTache {
    display: flex;
    gap: 5px;
}
.divCheckText {
    display: flex;
    align-items: center;
    gap: 10px;
}
#listeTachesNonTerminer button {
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}
#listeTachesNonTerminer button:hover{
    background-color: #3d3d3d;
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 10%;
    gap: 20px;
}
































.hidden {
    display: none;
}