* {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(black, transparent),url(https://img.stablecog.com/insecure/1920w/aHR0cHM6Ly9iLnN0YWJsZWNvZy5jb20vNzcxMTNiOWYtZmVhYi00OTU4LWJlZjItYzQ1YjE3ZTcxYWRkLmpwZWc.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    gap: 25px;
}

main > div > button {
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}
main > div > button:nth-of-type(2){
    background-color: #3d3d3d;
    color: white;
}
main > div > button:hover{
    background-color: #3d3d3d;
    color: white;
}

#listeTachesNonTerminer {
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(5px);
    border-radius: 25px;
    height: 400px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 20px black;
}

#listeTachesNonTerminer ul {
    list-style: none;
    padding: 0;
    height: 180px;
    width: 90%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#listeTachesNonTerminer ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 5px;
    border-radius: 10px;
}
#listeTachesNonTerminer > div:first-of-type{
    margin-top: 25px;
}
#listeTachesNonTerminer > div:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    height: 60px;
    border-radius: 0px 0px 25px 25px;
}
#listeTachesNonTerminer > div:last-of-type > input{
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    border: none;
    margin-left: 25px;
}
#listeTachesNonTerminer > div:last-of-type > button{
    margin-right: 25px;
}
#listeTachesNonTerminer > div:last-of-type > button > svg {
    fill : black;
}
#listeTachesNonTerminer > div:last-of-type > button:hover > svg{
    fill: white;
}
#textBtn {
    display: block;
}
#svgBtn {
    display: none;
    height: 18px;
    width: 18px;
}

.checkBox{
    margin-left: 10px;
    height: 20px;
    width: 20px;
    appearance: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.checkBox:checked{
    background-color: #3d3d3d;
}
.checkBox:checked::after {
    content: "✔";
    color: white;
    font-size: 16px;
    position: absolute;
    left: 4px;
    bottom: 1px;
}

.divButtonTache {
    display: flex;
    gap: 5px;
}
.divCheckText {
    display: flex;
    align-items: center;
    gap: 10px;
}
#listeTachesNonTerminer button {
    background-color: rgba(255, 255, 255, 0.75);
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}
#listeTachesNonTerminer button:hover{
    background-color: #3d3d3d;
    color: white;
}
.btnsTache {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: black;
}
.btnsTache > svg {
    fill: black;
    display: none;
    height: 16px;
    width: 16px;
}
.btnsTache:hover > svg{
    fill: white;
}



@media (max-width:1024px) {
    #listeTachesNonTerminer{
        width: 70%;
    }
    header {
        font-size: 3vw;
    }
}
@media (max-width:768px) {
    header {
        font-size: 4vw;
    }
    #listeTachesNonTerminer{
        width: 80%;
    }
    #listeTachesNonTerminer > div:last-of-type > button{
        padding: 3px 10px;
    }
    #svgBtn {
        display: inline;
    }
    
    #textBtn {
        display: none;
    }
    .btnsTache > svg {
        display: inline;
        margin-bottom: 5px;
    }
    .btnsTache:nth-of-type(2) > svg {
        margin-right: 5px;
    }
    .btnsTache > span {
        display: none;
    }
    .btnsTache {
        padding: 2px 10px !important;
    }
}
@media (max-width:320px) {
    header {
        font-size: 5vw;
    }
    #listeTachesNonTerminer{
        width: 90%;
    }
    #svgBtn {
        display: inline;
    }
    
    #textBtn {
        display: none;
    }
    .btnsTache > svg {
        display: inline;
    }
    .btnsTache > span {
        display: none;
    }
    
}